.container{
    display: flex;
}
.movie-card{
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    margin: 20px auto;
    background-color: white;
}

.movie-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}

.movie-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.movie-content{
    padding: 15px;
}

.movie-content h2{
    margin-bottom: 10px;
}

.movie-content p{
    margin: 8px 0;
}